  <nav role="navigation">
    <div class="purple darken-3 nav-wrapper">
      <a href="#" class="brand-logo">Bank</a>
      <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
      </ul>
    </div>
  </nav>

<ul class="sidenav" id="mobile-menu">
  <li><a href="sass.html">Sass</a></li>
</ul>
